# Firebase
# google-services.json

# Ignore everything in android but explicitly allow required files
android/*
!android/gradlew
!android/gradlew.bat
!android/build.gradle
!android/settings.gradle
!android/gradle/**
!android/app/
!android/app/build.gradle
!android/app/proguard-rules.pro
!android/app/src/**
!android/app/google-services.json

ios/

# Expo project settings
.expo/
.expo-shared/

# Build artifacts
*.apk
*.aab
*.ipa

# Expo web build
web-build/
dist/

# Log files
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# EAS local config
*.keystore
*.pfx
*.cer
*.jks
*.p12
*.key
*.pem

# VSCode
.vscode/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Local env files
.env
.env*.local
node_modules/

# @generated expo-cli sync
expo-env.d.ts
