# Firebase
# If you're okay with committing google-services.json, keep this line commented
# google-services.json

# iOS (if not targeting iOS right now)
ios/

# Expo project settings
.expo/
.expo-shared/

# Build artifacts
*.apk
*.aab
*.ipa

# Expo web build
web-build/
dist/

# Log files
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# EAS local config
*.keystore
*.pfx
*.cer
*.jks
*.p12
*.key
*.pem

# VSCode
.vscode/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Local env files
.env
.env*.local
node_modules/

# @generated expo-cli sync
expo-env.d.ts
